<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Mick Schroeder's Citation Generator</title>
    <meta
      name="description"
      content="Free and open-source software that automatically suggests citations and helps write a bibliography for you."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/static/bib.css" />
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
  </head>
  <body className="text-foreground font-sans antialiased">
    <main id="zotero-bib"></main>
    <script id="zotero-bib-config" type="application/json">
      {{{json indexConfig}}}
    </script>
    <script src="/static/main.js"></script>
  </body>
</html>